@charset "UTF-8";

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img,button,textarea,input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
}
fieldset, img, input, button, textarea {
  border: none;
  outline: none;
}
ul, ol {
  list-style: none;
}

input {
  font-family: "SimSun", "宋体";
}

select, input, textarea {
  font-size: 12px;
  margin: 0;
}

textarea {
  resize: none;
}

img {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  text-align: center;
}

.clearfix::before, .clearfix::after {
  content: "";
  display: block;
}

.clearfix::after {
  clear: both;
}
table .td-space{
  white-space: nowrap;
}
.clearfix {
  *zoom: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}

s, i, em {
  font-style: normal;
  text-decoration: none;
}

a {
  color: #666;
  text-decoration: none;
}
body {
  font: 16px/150% "Microsoft YaHei", Arial, Verdana, "SimSun";
  color:rgb(153, 153, 153);
  height: 100%;
  
}
.fl {
  float: left;
}

.fr {
  float: right;
}



